* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #A8E8F9;
    line-height: 1.6;
    height: 100%;
    height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #013c58;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo img {
  height: 50px;
}

/*nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}*/
nav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
nav.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    

}

nav .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

nav .links ul li a{
  text-decoration: none;
    font-size: 1em;
    font-family: "lato", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 3px;
    position: relative;
    color: #fff;
}

nav .links ul li::after{
    content: '';
    position: absolute;
    background-color:none; 
    padding: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}

nav .links ul li:hover::after{
    width: 100%;
    background-color: hsl(252, 42%, 95%);
}

/*.btn-primary {
    background-color: #013C58;
    color: white;
    padding: 8px 14px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-outline {
    border: 1px solid #013C58;
    color: #e0eaee;
    padding: 8px 14px;
    border-radius: 4px;
    text-decoration: none;
}*/


.hero {
    background-color: #00537A;
    text-align: center;
    padding: 40px 20px 60px;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.team-photo {
    width: 400px;
    max-width: 600px;
    border-radius: 20px;
}
  
.about-text {
    background: transparent;;
    text-align: center;
}

.image_aboutText
{
    display: flex;
    flex-direction: column;
    width: 400px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    justify-content: space-evenly;
    height: 70%;
    text-align: center;
}
