   * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: 'Helvetica Neue', sans-serif;
      background: #191649;
      color: #77a0ec;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;

    }

    .grid {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1em; 
    }
    

  

     img {
      width: 30%;
      height: auto;
      /* object-fit: cover; */

    }
    .team-photo{
      border:2px solid ;
      background-image: url('IMG-20250814-WA0021.jpg');
      background-size: cover;
      background-position: center;
      width: 10vh;
      height: 100%;
    }

    @media (max-width: 600px) {
      .card img {
        height: 160px;
      }

      .card h3 {
        font-size: 18px;
      }

      .card p {
        font-size: 13px;
      }
    }